body {
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #000;
    width: 100%;
    max-width: 100ch;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    overflow: auto;
    font-family: monospace;
    font-size: 1.2em;
    scrollbar-width: thin;
    position: relative;
    box-sizing: border-box;
}

.bottom-bar {
    position: sticky;
    bottom: 0;
    max-width: inherit;
    width: inherit;
}

#chat-box {
    /* flex-grow: 1; This ensures the chat-box fills the available space */
    overflow-y: auto;
    padding: 0;
    color: white;
    background-color: #000;
    margin: 0;
    width: 100%;
}
#input-section {
    display: flex;
    align-items: center;  /* Align items vertically */
    box-sizing: border-box;
    border-top: 1px solid #bbb;
    background-color: #333;
    width: 100%;
    line-height: 1.2em;

}
#username-input {
    width: 8ch;  /* Set to 10-character width */
    margin: 0;
    height: 100%;
    background-color: #333;
    color: #fff;
    border: 0;
    padding-left: 5px;
    font-size: 1em;
}
#message-input {
    flex-grow: 1;
    margin: 0;
    height: 100%;
    resize: none;
    overflow: auto;
    background-color: #333;
    color: #fff;
    border: 1em;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    font-size: 1em;
    /* padding: 5px 2px 5px; */
    padding-left: 5px;
    white-space: pre;
}

#message-input br {
    display: none;
 }

#input-section button{
    width: 6ch;
    height: 100%;
    border: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
    font-size: 1em;
}
.message {
    display: flex;
    padding-bottom: 2px;
    padding-left: 20px;
    background-color: #000;
}
.meta-info {
    display: flex;
    color: #ccc;
    white-space: nowrap;  /* Prevent line breaks in metadata */
    margin-right: 15px; 
}
.content {
    flex-grow: 1;  /* Allows the content to take up the remaining space */
    white-space: pre-wrap;  /* Preserve line breaks in content */
    word-break: break-all;
    /* word-wrap: break-all;  Allows content to break into new lines if necessary */
}
.message-id {
    color: blue;
}
.username {
    font-weight: bold;
    width: 8ch;  /* Set to 10-character width */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tag {
    color: #e8c8f4;
    cursor: pointer;
}
a {
    color: #e8c8f4;
}
hr {
    padding:0;
    margin:0;
    border: 1px solid #666;
}

.highlight {
    background-color: #333;
}

#status-bar {
    width:100%;
    border-top: 1px solid #bbb;
    text-align: right;
    background-color: #333;
    color: #aaa;
    font-size: 1em;
    padding: 2px;
    margin:0;
    box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus,
div:focus,
button:focus {
  outline: none;
}